:root {
  --maninPurple: #1a237e;
  --lightPurple: #7986cb;
  --mainWhite: #fafafa;
  --mainDark: #424242;
  --mainYellow: #ffc107;
}

body {
  font-family: "Solway", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-purple {
  color: var(--maninPurple);
}

.text-bright {
  color: var(--lightPurple);
}
